<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DocumentFormat.OpenXml" version="3.0.0-ci0083" targetFramework="net40-client" />
  <package id="DocumentFormat.OpenXml.Framework" version="3.0.0-ci0083" targetFramework="net40-client" />
  <package id="DocumentFormat.OpenXmlSDK" version="2.0" targetFramework="net40-client" />
  <package id="DocX" version="2.4.0" targetFramework="net40-client" />
  <package id="SecretSharingDotNet" version="0.6.0" targetFramework="net452" />
  <package id="System.Runtime.Numerics" version="4.3.0" targetFramework="net452" />
</packages>